* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: aquamarine;
}

#hello-container {
    height: 25vh;
    display: flex;
    justify-content: center;

}

#img-container {
    height: 50vh;
    display: flex;
    justify-content: center;
}